# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented libs
lib-cov

# Coverage directory


# Dependency directories
node_modules/
jspm_packages/


# Build output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Optional cache directories
.npm


# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity
.pnp.* 
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# dotenv environment variable files
.env
.env.* 
!.env.example

# Parcel / Vite / Next.js / Nuxt / Gatsby / VuePress / SvelteKit / Docusaurus
.cache
.parcel-cache
.vite/
.next
out

.docusaurus

# Serverless / FuseBox / DynamoDB / Firebase
.serverless/

.firebase/

# TernJS
.tern-port

# VSCode test
.vscode-test

# Vite logs
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Uploads (user uploaded files)
uploads/
.vercel
